#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  gap: 30px;
}

main {
  margin-top: 60px;
}

table thead tr {
  background-color: #000;
  position: sticky;
  top: 0;
  color: white;
}

.pointer {
  cursor: pointer;
  padding: 20px 0;
}
